<h3>Create drone</h3>
<form action="/drones/{{drones._id}}/create" method="POST">
  <label>Name
    <input type="text" name="name"  >
  </label>
  <label>Propellers

    <input type="number" name="propellers
">
  </label>
  <label>
    Max Speed
    <input name="maxspeed" type="number">
  </label>
  <button type="submit">Create</button>
</form>


</form>