<h2>Update the drone</h2>

<form action="/drones/{{drones._id}}/edit" method="POST">
  <label>Name
    <input type="text" name="name" value={{drones.name}} >
  </label>
  <label>Propellers

    <input type="number" name="propellers" value={{drones.propellers}}>
  </label>
  <label>
    Max Speed
    <input name="maxspeed" type="number" value={{drones.maxspeed}}>
  </label>
  <button type="submit">Edit</button>
</form>